* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;         
}
.container {
    margin: 0 auto;
    max-width: 1399px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}